@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1580461552990'); /* IE9 */
  src: url('iconfont.eot?t=1580461552990#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALoAAsAAAAABngAAAKbAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBBIEeATYCJAMICwYABCAFhG0HMBvEBRHVkydkf0cI4+i2SsA/acHIMCvLMbbsODd63V1Pm+UtfJPLwEf8JtAU/goSAAAAACAevt+Pdu77b8UNSAzNpJno9K0ksbShIKFTgklSC+UPO+144HkgAWX+ADO6gnfv0EbTLW7K+UZFKJ4bagr8znMtpJyfZq8HEPYA5QJDfdIT+VfVbM8IvSEqka+quC6LxTLy6pHAcXKNQMJLrwyGAuCPe6d/nneBzAeUyxzTNgUYWBrgWIsiK5LIG8YucAnHCdQaxMA15bptApk1LhDn+pOHBTm/LLNUtVBZszSLmypUp+tpwI3w+/HDwpCkomBVbDqx9pjjZ25nFJfb5yMCBLS6AgUWADKxrTa+gS0YFauNO0aBfZUGnw9l6RvFXnWC/XVWcT3oh/x7ErjCWy1OIMfdk4BVo24m9dbtvnlx7TiObee5Pd+L7/HgU5cy5b537nocyy61Gv9BtfnRhx/brvg+etf4jz1ylgt08XTmvUZzc8lY16j0GuWmXMiBv2MFA+VshsWsQLDsfzctGRm8eZG/obCfk+pTOIJfVZVRljm4yDKkrMohZzI5ypqAslpDxXK3eseqO+4rHap13J2zykAKhWrjaCYXQIU6i6BSteVQaz6xuk4byRa5BvNYAKFZgqTREyg0G9FMPlCh0w+VmgOotSPatqwzGVIfJRSMDcg/9PW6KMfEUVR6wvY9CcqKQtoNSfchyOK0mKpwQZpjhv60ObMCResMJTgNp2mFjdYBa4475q1IElX3prheZyMyEgrGBuQf+npdlN+Zo9LnT9i+J0EtDTX2G5Lue4csTnuglXzp1XAvr+hPmzMrULTOUIJBOE0rbPWDBqw57kZEtyKx26m+8nh95fwBeawFS5NMu1+BRkF1ZxgA') format('woff2'),
  url('iconfont.woff?t=1580461552990') format('woff'),
  url('iconfont.ttf?t=1580461552990') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1580461552990#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e639";
}

